<footer class="footer">
	<div class="container footer__first-row">
		<a href="/">
			<picture>
				<source srcset="/public/img/logo.png?as=avif" type="image/avif" />
				<source srcset="/public/img/logo.png?as=webp" type="image/webp" />
				<img class="footer__logo" src="/public/img/logo.png" alt="Логотип">
			</picture>
		</a>
		<address class="footer__contacts">
			<div class="footer__col">
				<b class="footer__label">Адрес:</b>
				<p class="footer__link">г. Lel, kekw xddd apt. 5</p>
			</div>
			<div class="footer__col">
				<b class="footer__label">Почта:</b>
				<a 
					class="footer__link" 
					href="mailto:pochta@askd.xyz" 
					title="Написать нам на почту"
				>
					pochta@askd.xyz
				</a>
			</div>
			<div class="footer__col">
				<b class="footer__label">Телефон:</b>
				<a 
					class="footer__link"	
					href="tel:+74951145484"
					title="Позвонить нам"
				>
				+0 (805) 010-00-10
				</a>
			</div>
		</address>
	</div>
	<hr>
	<div class="container">
		<p class="footer__copywrite">© Все права защищены. 2023</p>
	</div>
</footer>