<header class="header">
	<div class="container">
		<a class="header__logo-link" href="/">
			<picture>
				<source srcset="/public/img/logo.png?as=avif" type="image/avif" />
				<source srcset="/public/img/logo.png?as=webp" type="image/webp" />
				<img 
					class="header__logo"
					src="/public/img/logo.png" 
					alt="ПКИ строительно-промышленная компания"
				>
			</picture>
		</a>
		<div class="header__right-side">
			<ul class="header__contacts">
				<li>
					<a class="header__contact" href="tel:+0808081234" title="Позвонить нам">+7 (010) 000-14-00</a>
				</li>
				<li>
					<a class="header__contact" href="mailto:xd@asd.xyz" title="Написать нам">xd@xxdxdxd.xyz</a>
				</li>
			</ul>
			<a class="btn" href="/projects" title="Открыть страницу с нашими проектами">Next page</a>
		</div>
		<button type="menu" class="header__burger" aria-label="Открыть меню">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</button>
	</div>
</header>